*, ::after, ::before{
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    width: 100%;
    margin: 0;
    background-image: url("../images/number-blue.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    display: flex;
    flex-direction:column;
    align-items: center;
}
::placeholder{
    text-align: center;
}
li{
    list-style: none;
    font-weight: bold;
}
ul{
    padding: 0;
    margin: 0;
}
.modal{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    background: rgba(0,0,0,0.5);
    input{
    width: 300px;
    height: 60px;
    margin: 20px 0;
    text-align: center;
    font-size: 1.5rem;
}
}
.borde{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: rgba(0,0,0,0.5); margin: 0 auto;
    .push{
        width: 100px;
        height: 100px;
        margin: 8px 5px 4px 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        font-weight: bold;
        color: black;
        background: lightslategray;
        cursor: pointer;
    }
    .unpush{
        background: black;
        pointer-events: none;
    }
}
.option{
    display: flex;
    img{
        margin: 10px;
    }
    a{
        margin: 10px;
    }
}
.unactive{
    visibility: hidden;
}
.start{
    text-align: center;
    font-size: 3rem;
    line-height: 2;
}
.level{
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.5rem;
    color: white;
}
.active{
    width: 60px;
    height: 60px; 
    border-radius: 50%;
    background: white;
}
@media(max-width:2200px){
    .borde .push{
        width: 150px;
        height: 150px;
    }
}
@media(max-width:1024px){
    .borde .push{
        width: 140px;
        height: 140px;
    }
}
@media(max-width:414px){
    .borde .push{
        width: 60px;
        height: 60px; 
    }
}